{% extends "app/layout.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'app/content/leaflet.knreise-markers.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.4.0/leaflet.css" integrity="sha256-YR4HrDE479EpYZgeTkQfgVJq08+277UXxMLbi/YP69o=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder@1.10.0/dist/Control.Geocoder.css" />
<div id="map" data-mode="" style="position: absolute;height: 74%;width: 78%;">
    <input type="hidden" data-map-markers="" value="" name="map-geojson-data" />
</div>
{% endblock %}
{% block sideBar%}
<ul class="list-unstyled CTAs">
    <li><input name="clusters" placeholder="N&uacute;mero de d&iacute;as"  id="clusters" type="number" min="1" class="form-control"/></li>
    <li><br /></li>
    <li><a href="" class="download get-markers">Calcular</a></li>
</ul>
<ul id="resultados" class="list-unstyled components"></ul>
{% endblock %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.4.0/leaflet.js" integrity="sha256-6BZRSENq3kxI4YYBDqJ23xg0r1GwTHEpvp3okdaIqBw=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/leaflet-control-geocoder@1.10.0/dist/Control.Geocoder.js"></script>
<script src="{% static 'app/scripts/leaflet.knreise-markers.js' %}"></script>
<script src="{% static 'app/scripts/mapa.js' %}"></script>
{% endblock %}