{% extends "app/layout.html" %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'app/content/leaflet.knreise-markers.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.4.0/leaflet.css" integrity="sha256-YR4HrDE479EpYZgeTkQfgVJq08+277UXxMLbi/YP69o=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder@1.10.0/dist/Control.Geocoder.css" />
<div id="map" data-mode="" style="position: absolute;height: 74%;width: 78%;">
    <input type="hidden" data-map-markers="" value="" name="map-geojson-data" />
</div>
{% endblock %}
{% block sideBar%}
<ul class="list-unstyled CTAs">
    <li><input name="clusters" placeholder="N&uacute;mero de d&iacute;as"  id="clusters" type="number" min="1" class="form-control"/></li>
    <li><br /></li>
    <li><a href="" class="download get-markers">Calcular</a></li>
</ul>
<ul id="resultados" class="list-unstyled components"></ul>
{% endblock %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.4.0/leaflet.js" integrity="sha256-6BZRSENq3kxI4YYBDqJ23xg0r1GwTHEpvp3okdaIqBw=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/leaflet-control-geocoder@1.10.0/dist/Control.Geocoder.js"></script>
<script src="{% static 'app/scripts/leaflet.knreise-markers.js' %}"></script>
<script>
    var colores = [];
    var clusters;
    // Se utilizara openstreet map
    var osmUrl = 'http://{s}.tile.osm.org/{z}/{x}/{y}.png',
        osmAttrib = '&copy; <a href="http://openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        osm = L.tileLayer(osmUrl, {
            maxZoom: 18,
            attribution: osmAttrib
        });


    // Se inicializa el mapa con Mexico como centro y un zoom de 5
    var map = L.map('map').setView([19.3911668,-99.423815], 5).addLayer(osm), geocoder = L.Control.Geocoder.nominatim();

    // Se maneja el click en el mapa
    map.on('click', onMapClick);

    // Script for adding marker on map click
    function onMapClick(e) {
        geocoder.reverse(e.latlng, map.options.crs.scale(map.getZoom()), function (results) {
            var r = results[0];
            var geojsonFeature = {
            "type": "Feature",
            "properties": {},
            "geometry": {
                "type": "Point",
                "coordinates": [e.latlng.lat, e.latlng.lng]
            }
        }

        var marker;

        L.geoJson(geojsonFeature, {

            pointToLayer: function (feature, latlng) {

                marker = L.marker(e.latlng, {

                    title: r.name,
                    alt: r.name,
                    riseOnHover: true,
                    draggable: true,

                }).bindPopup(String(r.html || r.name) + "<br /><br /><center><input type='button' value='Eliminar sitio' class='marker-delete-button'/></center>");

                marker.on("popupopen", onPopupOpen);

                return marker;
            }
        }).addTo(map);
        });
    }


    // Maneja el popup del marcador
    function onPopupOpen() {

        var tempMarker = this;

        //var tempMarkerGeoJSON = this.toGeoJSON();

        //var lID = tempMarker._leaflet_id; // Getting Leaflet ID of this marker

        // To remove marker on click of delete
        $(".marker-delete-button:visible").click(function () {
            map.removeLayer(tempMarker);
        });
    }


    // getting all the markers at once
    function getAllMarkers() {

        var allMarkersObjArray = [];//new Array();
        var allMarkersGeoJsonArray = [];//new Array();
        var content = [];
        clusters = $("#clusters").val();
        $.each(map._layers, function (ml) {
            //console.log(map._layers)
            if (map._layers[ml].feature) {
                var modelo = {
                    "latitud": this.getLatLng().lat,
                    "longitud": this.getLatLng().lng,
                    "nombre": this["defaultOptions"].title,
                    "clusters": clusters
                }
                //console.log(this)
                //console.log(this["defaultOptions"].title)
                content.push(modelo);
                allMarkersObjArray.push(this)
                allMarkersGeoJsonArray.push(JSON.stringify(this.toGeoJSON()))
            }
        })

        console.log(allMarkersObjArray);
        console.log(content);
        $.ajax({
            url: window.location.href + "api/lugares/",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            type: 'POST',
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
            },
            data: JSON.stringify(content),
            success: function (data) {
                for (i=0; i<clusters; i++){ 
                    colores.push(colorAleatorio());
    $('#resultados').append('<li class="active"><a href="#cluster'+ i +'" data-toggle="collapse" aria-expanded="false">Dia ' 
    + (i+1) + '</a><ul class="collapse list-unstyled" id="cluster'+ i +'"></ul></li>');
                }
                quitaMarcadores();
                resultado = JSON.parse(data);
                $.each(resultado, function (index, value) {
                    var agrupacion = resultado[index].Cluster;
                    creaMarcador(resultado[index], agrupacion);
                    $('#cluster' + agrupacion).append('<li>'+ resultado[index].Nombre +'</li>')
                })
                //console.log(JSON.stringify(data));
            }
        });



        //alert("total Markers : " + allMarkersGeoJsonArray.length + "\n\n" + allMarkersGeoJsonArray + "\n\n Also see your console for object view of this array");
    }

    $(".get-markers").click(function (event) {
        event.preventDefault();
        if ($("#clusters").val()) {
            getAllMarkers();
        }
        else {
            alert("Ingrese el numero de clusters")
        }
    });

    function colorAleatorio() {
       var caracteres = '0123456789ABCDEF'.split('');
       var color = '#';
       for (var i = 0; i < 6; i++ ) {
           color += caracteres[Math.floor(Math.random() * 16)];
       }
       return color;
    }

    function quitaMarcadores() {
       $.each(map._layers, function (ml) {
            //console.log(map._layers)
            if (map._layers[ml].feature) {
			 map.removeLayer(this);
            }
        })    
    }

       function creaMarcador (data, color) {
            console.log(data);
            var geojsonFeature = {
            "type": "Feature",
            "properties": {},
            "geometry": {
                "type": "Point",
                "coordinates": [data.Longitud, data.Latitud]
            }
            }
            console.log(geojsonFeature);
            var marker;
            var latlng = new L.latLng(data.Longitud, data.Latitud);
            console.log(latlng);
    console.log(colores[color]);
        L.geoJson(geojsonFeature, {

            pointToLayer: function (feature, latlng) {

                marker = L.marker(latlng, {

                    title: data.Nombre,
                    alt: data.Nombre,
                    riseOnHover: true,
                    draggable: false,
                    icon: L.KNreiseMarkers.icon({markerColor: colores[color]})

                }).bindPopup(String(data.Nombre) + "<br />Visitar el <span>" + String(data.DiadeVacaciones) + "</span><br /><br /><center><input type='button' value='Eliminar sitio' class='marker-delete-button'/></center>");

                marker.on("popupopen", onPopupOpen);

                return marker;
            }
        }).addTo(map);
    }
</script>
{% endblock %}